[[source]]

url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"


[packages]



[dev-packages]

bumpversion = "*"
watchdog = "*"
"flake8" = "*"
coverage = "*"
sphinx = "*"
cryptography = "*"
pyyaml = "*"
pytest = "*"
pytest-runner = "*"
tox-pipenv = "*"


[requires]

python_version = "3.6"
